*, *:before, *:after {
  box-sizing:border-box;
}

body {
	background: gray;
}

#greeting {
  font-size: 96px;
  color: yellow;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'ZCOOL KuaiLe', serif;
}

#advise {
	color: blue;
	font-size: 46px;
	text-align: center;
	letter-spacing: 2px;
}

main {
  display: flex;
  justify-content: center;
}

canvas {
  background: black;
  border: solid 5px #fff;
}

#button {
  border-radius: 20px;
  margin-left: 26%;
  margin-top: 2%;
  cursor: pointer;
  background-color: blue;
}

