*, *:before, *:after {
  box-sizing:border-box;
}

body {
	background: gray;
}


.main-container {
 text-align: center; 
}

#greeting {
  width: 100%;
  font-size: 36px;
  color: yellow;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'consolas', serif;
}

canvas {
  width: 70%;
  height: 50%;
  background: black;
  border: solid 5px #fff;
}

#button {
  height: 10px;
  cursor: pointer;
  background-color: #fff;
}

