*, *:before, *:after {
  box-sizing:border-box;
}

body {
	background: black;
}

#greeting {
  font-size: 96px;
  color: red;
  margin-top: 180px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Caveat Brush', serif;
}

.advise {
	color: yellow;
	font-size: 46px;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Caveat Brush', serif;

}

#button {
  border-radius: 20px;
  margin-left: 26%;
  margin-top: 2%;
  cursor: pointer;
  background-color: red;
}

